.fullwrap {
	width: 600px;
	border: 1px solid black;
	margin: 10px auto;
	padding: 10px;
}
.header, .footer {
	min-height: 60px;
	border: 1px solid black;
}
.footer {
	min-height: 90px;
}
.wrap {
	border: 1px solid black;
	padding: 10px;
	margin: 10px 0;
}
.sidebar, .main {
	border: 1px solid black;
	width: 277px;
	min-height: 350px;
	float: left;
	margin: 5px;
}
.clear {
	clear: both;
}