.main-block {
  background-image: url(http://tutorial.promo.net.ua/images/js/setka3.png);
  background-position: top left;
  width: 300px;
  height: 300px;
  border: 1px solid black;
}
.house, .roof, .chimney, .door, .window, .fluger {
  position: absolute;
}
.house {
  width: 150px;
  height: 150px;
  background: coral;
  position: absolute;
  margin: 130px 0 0 70px;
}
.roof {
    width: 0;
    height: 0;
    border-left: 110px solid transparent;
    border-right: 110px solid transparent;
    border-bottom: 100px solid red;
    top: 39px;
    left: 45px;
}
.chimney {
  width: 20px;
  height: 60px;
  background: black;
  margin: 40px 0 0 200px;

}
.door {
   width: 60px;
  height: 90px;
  background: brown;
  margin: 180px 0 0 80px;
  z-index: 1;
}
.window {
   width: 40px;
  height: 40px;
  background: cyan;
  left: 165px;
  top: 189px;
  z-index: 1;
}
.fluger {
  width: 35px;
  height: 35px;
  margin: -2px 0 0 127px;

}

